*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body{
 
  background-color: #2e2e2e;
  background-image: url(../img/section-composition4.jpg);
  background-repeat: no-repeat;
  background-size: 55% 100%;
  color: #867772;
  font-family: work sans;
 

    
    
   
  }

  /*----------navbarlinks navigation------*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    padding: 20px;
    width: 100%;
  }
.navbar-links {
    width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    right: 150px;
    margin: 0 10px;
    
    
  }
  .navbar-links:nth-of-type(1){
    padding-left: 155px;
  }
  ul.nav-2links li a, ul.navbar-links li a{
    color: #867772;
  }
 
.nav-2links {
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0 10px;
  }


.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    
  }
  .nav-item a:hover{
    text-decoration: underline;
    color: #fff;
  }

    /*-----logo----*/

.ilogo {
  display: inline-block;
}

.ilogo img {
  width: 55px;
  vertical-align: middle;
}

 

 /*---------- navi-vertikal-----*/

.navbar2{
   
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top:200px;
    
 
}

ul.nav-vertikal{
    list-style-type: none;
    padding-left: 10px; 
    margin: 30% 0;
  
}


.nav-vertikal li{
  margin-top: 30px;
  margin-left: 30px;
}
.nav-vertikal li img{
  width: 10px;
  height: 10px;
  
}
  

.nav-vertikal li ::before{
  content:'';
  border-left:1px solid #867772;
  position: relative;
  top: 25px;
  left: -5px;
  height: 100%;
  
}
.nav-vertikal .last ::before{
  content: none;
}



.nav-vertikal li a{
  text-decoration: none;
  color:black;
  
}
.nav-vertikal li a:hover{
  color: #fff;
}
/*-------animation-----*/




/*------ende navi-vertikal---*/





section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 15% 70%;
}
.sectionbox img {

    width: 200px;
    height: 300px;
    text-align: center;

}
.sectionbox > strong{
  font-size: 20px;
  color: #ebccc2;
}
.butt{
    width: 75px;
    height: 50px;
    color: #000;
    background-color: #ebccc2;
}


/*-----modal formular--------*/

.menber {
  position:absolute;
  bottom: -10%;
  right:20%;
  transform:translate(-50%,-50%);
}
.popup-overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  z-index:1;
  background:rgba(0,0,0,0.5);
  display:none;
}
.popup {
  position:absolute;
  top:-150%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.15);
  width:300px;
  height:440px;
  background:#f5f5f5;
  z-index:2;
  opacity:0;
  box-shadow:5px 5px 3px rgba(0,0,0,0.2);
  transition:transform 300ms ease-in-out,opacity 300ms ease-in-out;
}
body.showLoginForm .popup-overlay {
  display:block;
}
body.showLoginForm .popup {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup .popup-close {
  position:absolute;
  top:-10px;
  right:-10px;
  width:40px;
  height:40px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  border-radius:50%;
  cursor:pointer;
}
.popup .form .avatar {
  margin:30px 0px 20px;
  text-align:center;
  
}
.popup .form .avatar img {
  width: 80px;
  height: 100px;
  border-radius:50%;
}
.popup .form .header {
  text-align:center;
  font-size:20px;
  font-weight:600;
  color: #2e2e2e;
  margin:20px 0px;
}
.popup .form .element {
  padding:8px 20px;
  color: #2e2e2e;
}
.popup .form .element label {
  display:block;
  font-size:14px;
  color: #867772;
  font-weight: bolder;
  margin-bottom:5px;
}
.popup .form .element input {
  width:100%;
  padding:8px 10px;
  box-sizing:border-box;
  outline:none;
  border:1px solid #aaa;
  background:#eee;
  border-radius:5px;
}
.popup .form .element button {
  margin-top:5px;
  width:100%;
  padding:10px 0px;
  text-transform:uppercase;
  outline:none;
  border:none;
  font-size:15px;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
  background:#4889da;
  color:#f5f5f5;
}
