@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
 
  background-color: #2e2e2e;
  background-image: url(../img/section-composition4.jpg);
  background-repeat: no-repeat;
  background-size: 55% 100%;
  color: #867772;
  font-family: work sans;
 

    
    
   
  }

  /*----------navbarlinks navigation------*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    padding: 20px;
    width: 100%;
  }
.navbar-links {
    width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    right: 150px;
    margin: 0 10px;
    
    
  }
  .navbar-links:nth-of-type(1){
    padding-left: 155px;
  }
  ul.nav-2links li a, ul.navbar-links li a{
    color: #867772;
  }
 
.nav-2links {
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0 10px;
  }


.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    
  }
  .nav-item a:hover{
    text-decoration: underline;
    color: #fff;
  }

    /*-----logo----*/

.ilogo {
  display: inline-block;
}

.ilogo img {
  width: 55px;
  vertical-align: middle;
}

 

 /*---------- navi-vertikal-----*/

.navbar2{
   
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top:200px;
    
 
}

ul.nav-vertikal{
    list-style-type: none;
    padding-left: 10px; 
    margin: 30% 0;
   /* list-style-image: url(../img/radio_butto.svg);   */
}


.nav-vertikal li{
  margin-top: 30px;
  margin-left: 30px;
}
.nav-vertikal li img{
  width: 10px;
  height: 10px;
  
}
  

.nav-vertikal li ::before{
  content:'';
  border-left:1px solid #867772;
  position: relative;
  top: 25px;
  left: -5px;
  height: 100%;
  
}
.nav-vertikal .last ::before{
  content: none;
}



.nav-vertikal li a{
  text-decoration: none;
  color:black;
  
}
.nav-vertikal li a:hover{
  color: #fff;
}
/*-------animation-----*/
.nav-vertikal li:hover {
  animation: grow 1s  infinite;
  animation-timing-function: linear;

}

@keyframes grow {
  from {top: 0px;}
  to {bottom: 10px;}
}

/*------ende navi-vertikal---*/





section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 15% 70%;
}
.sectionbox img {

    width: 200px;
    height: 300px;
    text-align: center;

}
.sectionbox > strong{
  font-size: 20px;
  color: #ebccc2;
}
button{
    width: 75px;
    height: 50px;
    color: #000;
    background-color: #ebccc2;
}

