html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
 
  background-color: #2e2e2e;
  background-image: url(../img/section-composition4.jpg);
  background-repeat: no-repeat;
  background-size: 55% 100%;
 

    
    
   
  }

 
   /*----------navbarlinks navigation------*/

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    padding: 20px;
    width: 100%;
  }
.navbar-links {
      width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    right: 150px;
    
    
  }
.nav-2links {
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0 10px;
  }

  
.ilogo {
    display: inline-block;
  }

.ilogo img {
    width: 55px;
    vertical-align: middle;
  }
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    
  }

 


.imgsection img{
    width: 90%;
    height: 30%;
    

}
.imgsection{
    text-align: center;
    margin-top: 10%;
}

 /*---------- navi-vertikal-----*/

.navbar2{
   
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top:200px;
 
}

.nav-vertikal{

    list-style-type: square;
    padding-left: 10px; 
    margin: 30% 0;   
}

.nav-vertikal li{
  
padding: 20px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 15% 70%;
}
.sectionbox img {

    width: 200px;
    height: 300px;
    text-align: center;

}
button{
    width: 75px;
    height: 50px;
    color: #000;
    background-color: #ebccc2;
}

