html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
 
  background-color: #2e2e2e;
  
 

    
    
   
  }

 
   /*----------navbarlinks navigation------*/

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    padding: 20px;
    width: 100%;
  }
.navbar-links {
      width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    right: 150px;
    
    
  }
.nav-2links {
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0 10px;
  }

  
.ilogo {
    display: inline-block;
  }

.ilogo img {
    width: 55px;
    vertical-align: middle;
  }
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    
  }

 


.imgsection img{
    width: 90%;
    height: 30%;
    

}
.imgsection{
    text-align: center;
    margin-top: 10%;
}

 /*---------- navi-vertikal-----*/

.navbar2{
   
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top:200px;
 
}

.nav-vertikal{

    list-style-type: square;
    padding-left: 10px; 
    margin: 30% 0;   
}

.nav-vertikal li{
  
padding: 20px;
}
article{
    margin: 5% 25%;
}
.secondsection{
    display: flex;
    flex-wrap: wrap;
}
.secondsection img{
    width: 400px;
    height: 400px;
}
.items2, .items3{
    flex-direction: column;
    width: 400px;
    height: 400px;
}
.tems1, .items2, .items3, .items4{
    display: flex;
}



